workflow/workflow-REDEIL-v2-profesional.json
{
  "name": "Blog REDEIL v2.0 - Sistema Profesional",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 3,
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "scheduler",
      "name": "Trigger Programado",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-60, 400]
    },
    {
      "parameters": {},
      "id": "manual",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-60, 200]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SELECTOR INTELIGENTE REDEIL v2.0\n// Sistema de rotacion sin repeticion\n// ============================================\n\nconst CONFIG = {\n  baseUrl: 'https://redeil.com',\n  github: {\n    owner: 'Origenlab',\n    repo: 'REDEIL',\n    branch: 'main'\n  },\n  empresa: {\n    nombre: 'REDEIL',\n    slogan: 'Produccion Audiovisual para Eventos',\n    telefono: '55 4937 5172',\n    whatsapp: '525549375172',\n    email: 'redeil.mx@gmail.com',\n    horario: 'Lun - Dom / 8:00 - 23:00'\n  },\n  categories: {\n    'guias': 'Guias',\n    'tendencias': 'Tendencias',\n    'tips': 'Tips',\n    'bodas': 'Bodas',\n    'xv-anos': 'XV Anos',\n    'corporativos': 'Corporativos',\n    'inspiracion': 'Inspiracion'\n  },\n  colonias: [\n    'Polanco', 'Condesa', 'Roma', 'Santa Fe', 'Coyoacan',\n    'Del Valle', 'Napoles', 'San Angel', 'Pedregal', 'Interlomas',\n    'Naucalpan', 'Tlalnepantla', 'Huixquilucan', 'Metepec'\n  ],\n  venues: [\n    'Hacienda de Cortes', 'Jardin Etnobotanico', 'Club de Banqueros',\n    'Hacienda Panoaya', 'La Casona de Tezozomoc', 'Club de Golf Chapultepec',\n    'Hacienda de los Morales', 'Casa de las Campanas'\n  ],\n  products: [\n    {\n      id: 'guirnaldas',\n      name: 'Guirnaldas de Luces',\n      category: 'guias',\n      categoryName: 'Guias',\n      focus: 'iluminacion romantica con guirnaldas para eventos',\n      audience: 'Parejas y organizadores de bodas, fiestas y eventos',\n      keywords: ['guirnaldas para eventos', 'focos edison renta', 'luces vintage bodas', 'iluminacion romantica CDMX'],\n      url: '/renta-de-iluminacion/guirnaldas.html',\n      relatedServices: [\n        {name: 'Cascadas LED', url: '/renta-de-iluminacion/cascadas-led.html'},\n        {name: 'Luz Neon', url: '/renta-de-iluminacion/luz-neon.html'},\n        {name: 'Bocinas para Bodas', url: '/renta-de-bocinas/bocinas-para-bodas.html'}\n      ]\n    },\n    {\n      id: 'luz-neon',\n      name: 'Luz Neon LED',\n      category: 'tendencias',\n      categoryName: 'Tendencias',\n      focus: 'iluminacion moderna con efectos neon para eventos',\n      audience: 'Organizadores de fiestas modernas y XV anos',\n      keywords: ['luz neon eventos', 'neon LED fiestas', 'iluminacion moderna CDMX', 'efectos neon renta'],\n      url: '/renta-de-iluminacion/luz-neon.html',\n      relatedServices: [\n        {name: 'Luz Negra UV', url: '/renta-de-iluminacion/luz-negra.html'},\n        {name: 'Cabezas Moviles', url: '/renta-de-iluminacion/cabezas-moviles.html'},\n        {name: 'Bocinas para Fiestas', url: '/renta-de-bocinas/bocinas-para-fiestas.html'}\n      ]\n    },\n    {\n      id: 'city-color',\n      name: 'City Color LED',\n      category: 'corporativos',\n      categoryName: 'Corporativos',\n      focus: 'iluminacion arquitectonica y uplighting profesional',\n      audience: 'Empresas y organizadores de eventos corporativos',\n      keywords: ['city color renta', 'uplighting eventos', 'iluminacion fachadas CDMX', 'wash LED profesional'],\n      url: '/renta-de-iluminacion/city-color.html',\n      relatedServices: [\n        {name: 'Luces Arquitectonicas', url: '/renta-de-iluminacion/luces-arquitectonicas.html'},\n        {name: 'Audio Conferencias', url: '/renta-de-bocinas/audio-para-conferencias.html'},\n        {name: 'Proyector de Gobos', url: '/renta-de-iluminacion/proyector-de-gobos.html'}\n      ]\n    },\n    {\n      id: 'cabezas-moviles',\n      name: 'Cabezas Moviles',\n      category: 'guias',\n      categoryName: 'Guias',\n      focus: 'iluminacion robotica profesional para eventos',\n      audience: 'DJs, productores de eventos y fiestas',\n      keywords: ['cabezas moviles renta', 'luces roboticas eventos', 'beam spot CDMX', 'iluminacion profesional'],\n      url: '/renta-de-iluminacion/cabezas-moviles.html',\n      relatedServices: [\n        {name: 'Iluminacion Laser', url: '/renta-de-iluminacion/iluminacion-laser.html'},\n        {name: 'Maquina de Humo', url: '/equipos-para-eventos/maquina-de-humo.html'},\n        {name: 'Bolas Disco', url: '/equipos-para-eventos/bolas-disco.html'}\n      ]\n    },\n    {\n      id: 'luz-negra',\n      name: 'Luz Negra UV',\n      category: 'tips',\n      categoryName: 'Tips',\n      focus: 'fiestas tematicas con luz ultravioleta',\n      audience: 'Organizadores de fiestas neon y tematicas',\n      keywords: ['luz negra renta', 'UV fiestas', 'neon party CDMX', 'fiesta fluorescente'],\n      url: '/renta-de-iluminacion/luz-negra.html',\n      relatedServices: [\n        {name: 'Luz Neon LED', url: '/renta-de-iluminacion/luz-neon.html'},\n        {name: 'Maquina de Humo', url: '/equipos-para-eventos/maquina-de-humo.html'},\n        {name: 'Bocinas para Fiestas', url: '/renta-de-bocinas/bocinas-para-fiestas.html'}\n      ]\n    },\n    {\n      id: 'bocinas-bodas',\n      name: 'Bocinas para Bodas',\n      category: 'bodas',\n      categoryName: 'Bodas',\n      focus: 'audio profesional para ceremonias y recepciones',\n      audience: 'Parejas que celebran bodas',\n      keywords: ['bocinas bodas renta', 'sonido boda CDMX', 'audio ceremonia', 'sonido recepcion'],\n      url: '/renta-de-bocinas/bocinas-para-bodas.html',\n      relatedServices: [\n        {name: 'Guirnaldas', url: '/renta-de-iluminacion/guirnaldas.html'},\n        {name: 'Humo Bajo', url: '/equipos-para-eventos/humo-bajo.html'},\n        {name: 'Proyector de Gobos', url: '/renta-de-iluminacion/proyector-de-gobos.html'}\n      ]\n    },\n    {\n      id: 'bocinas-xv',\n      name: 'Bocinas para XV Anos',\n      category: 'xv-anos',\n      categoryName: 'XV Anos',\n      focus: 'audio potente para fiestas de quinceanera',\n      audience: 'Familias celebrando XV anos',\n      keywords: ['bocinas XV anos', 'sonido quinceanera', 'audio fiesta CDMX', 'renta bocinas'],\n      url: '/renta-de-bocinas/bocinas-para-xv-anos.html',\n      relatedServices: [\n        {name: 'Cabezas Moviles', url: '/renta-de-iluminacion/cabezas-moviles.html'},\n        {name: 'Maquina de Confeti', url: '/equipos-para-eventos/maquina-de-confeti.html'},\n        {name: 'Luz Neon', url: '/renta-de-iluminacion/luz-neon.html'}\n      ]\n    },\n    {\n      id: 'humo-bajo',\n      name: 'Humo Bajo',\n      category: 'bodas',\n      categoryName: 'Bodas',\n      focus: 'efecto de nubes para primer baile de bodas',\n      audience: 'Parejas que quieren un primer baile magico',\n      keywords: ['humo bajo bodas', 'baile nubes CDMX', 'efecto pista', 'primer baile'],\n      url: '/equipos-para-eventos/humo-bajo.html',\n      relatedServices: [\n        {name: 'Guirnaldas', url: '/renta-de-iluminacion/guirnaldas.html'},\n        {name: 'Bocinas para Bodas', url: '/renta-de-bocinas/bocinas-para-bodas.html'},\n        {name: 'City Color', url: '/renta-de-iluminacion/city-color.html'}\n      ]\n    },\n    {\n      id: 'iluminacion-laser',\n      name: 'Iluminacion Laser',\n      category: 'tendencias',\n      categoryName: 'Tendencias',\n      focus: 'shows de laser espectaculares para eventos',\n      audience: 'Productores de eventos y fiestas',\n      keywords: ['laser eventos renta', 'show laser CDMX', 'efectos laser', 'iluminacion disco'],\n      url: '/renta-de-iluminacion/iluminacion-laser.html',\n      relatedServices: [\n        {name: 'Cabezas Moviles', url: '/renta-de-iluminacion/cabezas-moviles.html'},\n        {name: 'Maquina de Humo', url: '/equipos-para-eventos/maquina-de-humo.html'},\n        {name: 'Bocinas para Fiestas', url: '/renta-de-bocinas/bocinas-para-fiestas.html'}\n      ]\n    },\n    {\n      id: 'audio-conferencias',\n      name: 'Audio para Conferencias',\n      category: 'corporativos',\n      categoryName: 'Corporativos',\n      focus: 'sistemas de sonido profesional para eventos empresariales',\n      audience: 'Empresas en Santa Fe, Reforma, Polanco',\n      keywords: ['audio conferencias CDMX', 'sonido corporativo', 'microfonos eventos', 'sistema PA renta'],\n      url: '/renta-de-bocinas/audio-para-conferencias.html',\n      relatedServices: [\n        {name: 'City Color', url: '/renta-de-iluminacion/city-color.html'},\n        {name: 'Luces Arquitectonicas', url: '/renta-de-iluminacion/luces-arquitectonicas.html'},\n        {name: 'Proyector de Gobos', url: '/renta-de-iluminacion/proyector-de-gobos.html'}\n      ]\n    }\n  ],\n  articleTypes: [\n    { id: 'guia-completa', name: 'Guia Completa', tone: 'educativo y detallado' },\n    { id: 'tendencias', name: 'Tendencias', tone: 'vanguardista y actual' },\n    { id: 'consejos', name: 'Consejos Profesionales', tone: 'experto y practico' },\n    { id: 'inspiracion', name: 'Inspiracion', tone: 'aspiracional y visual' },\n    { id: 'comparativa', name: 'Comparativa', tone: 'analitico y objetivo' }\n  ],\n  images: {\n    'guias': [\n      '/renta-de-iluminacion/img-guirnaldas/focos-edison-guirnalda-jardin.avif',\n      '/renta-de-iluminacion/img-guirnaldas/guirnaldas-focos-antiguos-fiesta.avif',\n      '/renta-de-iluminacion/img-guirnaldas/serie-focos-edison-ambiente.avif',\n      '/img/img-index/cabezas-moviles.avif'\n    ],\n    'tendencias': [\n      '/img/img-index/luz-neon.avif',\n      '/img/img-index/iluminacion-laser.avif',\n      '/img/img-index/sky-tracker.avif'\n    ],\n    'tips': [\n      '/img/img-index/luz-negra.avif',\n      '/img/img-index/bocinas-para-fiestas.avif'\n    ],\n    'bodas': [\n      '/renta-de-iluminacion/img-guirnaldas/renta-guirnaldas-pergola-iluminada.avif',\n      '/renta-de-iluminacion/img-guirnaldas/serie-luces-vintage-romantico.avif',\n      '/img/img-index/bocinas-para-bodas.avif'\n    ],\n    'xv-anos': [\n      '/img/img-index/bocinas-para-xv-anos.avif',\n      '/img/img-index/cascadas-led.avif'\n    ],\n    'corporativos': [\n      '/img/img-index/city-color.avif',\n      '/img/img-index/conferencias.avif',\n      '/img/img-index/iluminacion-arquitectonica.avif'\n    ],\n    'inspiracion': [\n      '/renta-de-iluminacion/img-guirnaldas/focos-vintage-serie-decorativa-evento.avif',\n      '/img/img-index/proyector-de-gobos.avif'\n    ]\n  }\n};\n\n// Estado persistente para evitar repeticiones\nconst state = $getWorkflowStaticData('global');\nif (!state.usedProducts) state.usedProducts = [];\nif (!state.usedImages) state.usedImages = [];\nif (!state.usedTypes) state.usedTypes = [];\nif (!state.articleCount) state.articleCount = 0;\n\n// Seleccionar producto sin repetir\nlet availableProducts = CONFIG.products.filter(p => !state.usedProducts.includes(p.id));\nif (availableProducts.length === 0) {\n  state.usedProducts = [];\n  availableProducts = CONFIG.products;\n}\nconst product = availableProducts[Math.floor(Math.random() * availableProducts.length)];\nstate.usedProducts.push(product.id);\n\n// Seleccionar tipo de articulo sin repetir\nlet availableTypes = CONFIG.articleTypes.filter(t => !state.usedTypes.includes(t.id));\nif (availableTypes.length === 0) {\n  state.usedTypes = [];\n  availableTypes = CONFIG.articleTypes;\n}\nconst articleType = availableTypes[Math.floor(Math.random() * availableTypes.length)];\nstate.usedTypes.push(articleType.id);\n\n// Seleccionar imagen sin repetir\nlet categoryImages = CONFIG.images[product.category] || CONFIG.images['guias'];\nlet availableImages = categoryImages.filter(i => !state.usedImages.includes(i));\nif (availableImages.length === 0) {\n  state.usedImages = state.usedImages.filter(i => !categoryImages.includes(i));\n  availableImages = categoryImages;\n}\nconst heroImage = availableImages[Math.floor(Math.random() * availableImages.length)];\nstate.usedImages.push(heroImage);\n\n// Seleccionar colonias y venues aleatorios\nconst colonias = [...CONFIG.colonias].sort(() => Math.random() - 0.5).slice(0, 5);\nconst venues = [...CONFIG.venues].sort(() => Math.random() - 0.5).slice(0, 3);\n\n// Incrementar contador\nstate.articleCount++;\n\n// Generar ID unico\nconst articleId = Date.now();\n\nreturn [{\n  json: {\n    CONFIG,\n    product,\n    articleType,\n    heroImage,\n    colonias,\n    venues,\n    articleId,\n    articleNumber: state.articleCount\n  }\n}];"
      },
      "id": "selector",
      "name": "Selector Inteligente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst p = data.product;\nconst t = data.articleType;\nconst colonias = data.colonias;\nconst venues = data.venues;\nconst rs = p.relatedServices;\n\nconst prompt = `Eres un REDACTOR SENIOR y ESPECIALISTA EN SEO con 15 anos de experiencia en contenido editorial para el sector de eventos y produccion audiovisual.\n\nTu mision es crear un articulo EXCEPCIONAL para el blog de REDEIL.\n\n═══════════════════════════════════════════════════════════\nCONTEXTO DE LA EMPRESA\n═══════════════════════════════════════════════════════════\n\n**REDEIL - Produccion Audiovisual para Eventos**\n- Telefono: 55 4937 5172\n- WhatsApp: wa.me/525549375172\n- Email: redeil.mx@gmail.com\n- Cobertura: CDMX y Estado de Mexico\n- Experiencia: Mas de 500 eventos exitosos\n- Especialidades: Bodas, XV Anos, Eventos Corporativos, Fiestas Privadas\n\n**Propuesta de valor:**\n- Equipo profesional de alta gama\n- Instalacion y montaje incluido\n- Soporte tecnico durante el evento\n- Asesoria personalizada sin costo\n\n═══════════════════════════════════════════════════════════\nCONTEXTO DEL ARTICULO\n═══════════════════════════════════════════════════════════\n\n- Tema central: ${p.name}\n- Categoria: ${p.categoryName}\n- Enfoque editorial: ${p.focus}\n- Lector objetivo: ${p.audience}\n- Keywords SEO: ${p.keywords.join(', ')}\n- Estilo narrativo: ${t.name} - ${t.tone}\n- Zonas de CDMX a mencionar: ${colonias.join(', ')}\n- Venues de referencia: ${venues.join(', ')}\n\n**Servicios relacionados para enlaces internos:**\n1. ${rs[0].name} - ${rs[0].url}\n2. ${rs[1].name} - ${rs[1].url}\n3. ${rs[2].name} - ${rs[2].url}\n\n═══════════════════════════════════════════════════════════\nREQUISITOS OBLIGATORIOS\n═══════════════════════════════════════════════════════════\n\n### Contenido\n- Extension: 1500-2200 palabras narrativas\n- 100% original, sin plagio, sin contenido generico\n- Informacion verificable y util para el lector\n- Enfocado en resolver dudas reales del cliente\n\n### SEO On-Page\n- Keyword principal: densidad 1-1.5%\n- Incluir minimo 12 keywords LSI relacionadas\n- Usar sinonimos y variaciones semanticas naturales\n- Cada H2 debe contener variacion de keyword\n\n### Tono y Estilo\n- Profesional pero cercano (no corporativo frio)\n- Experto que asesora, no vendedor que presiona\n- Usar \"tu\" para dirigirse al lector\n- Parrafos de 3-5 lineas maximo\n- Transiciones naturales entre secciones\n\n### PROHIBICIONES ESTRICTAS\n- NO mencionar precios especificos\n- NO inventar estadisticas o datos falsos\n- NO usar frases genericas de IA como:\n  * \"en el mundo actual\"\n  * \"es importante destacar\"\n  * \"cabe mencionar\"\n  * \"sin duda alguna\"\n  * \"en este sentido\"\n- NO repetir frases o estructuras\n- NO usar emojis\n- NO mencionar competidores\n\n═══════════════════════════════════════════════════════════\nESTRUCTURA HTML DEL ARTICULO\n═══════════════════════════════════════════════════════════\n\n<div class=\"article-intro\">\n    <p>[Parrafo 1: Hook emocional que conecte con el problema/deseo del lector. Primera oracion con <strong>keyword principal</strong>]</p>\n    <p>[Parrafo 2: Contexto del tema y por que es relevante para eventos en CDMX]</p>\n    <p>[Parrafo 3: Adelanto de lo que aprendera en el articulo]</p>\n</div>\n\n<section id=\"que-es\">\n    <h2>[Que es ${p.name}? - con variacion de keyword]</h2>\n    <p>[Explicacion clara y completa - 2-3 parrafos con ejemplos reales]</p>\n</section>\n\n<section id=\"beneficios\">\n    <h2>[Beneficios de ${p.name} para tu Evento]</h2>\n    <p>[Parrafo introductorio]</p>\n    <ul>\n        <li><strong>[Beneficio 1]:</strong> [Explicacion de 1-2 lineas]</li>\n        <li><strong>[Beneficio 2]:</strong> [Explicacion de 1-2 lineas]</li>\n        <li><strong>[Beneficio 3]:</strong> [Explicacion de 1-2 lineas]</li>\n        <li><strong>[Beneficio 4]:</strong> [Explicacion de 1-2 lineas]</li>\n        <li><strong>[Beneficio 5]:</strong> [Explicacion de 1-2 lineas]</li>\n    </ul>\n</section>\n\n<div class=\"info-box\">\n    <h4>Dato Importante</h4>\n    <p>[Dato relevante o tip que agregue valor real al lector]</p>\n</div>\n\n<section id=\"como-funciona\">\n    <h2>[Como elegir/usar/aplicar ${p.name} - titulo descriptivo]</h2>\n    <p>[Explicacion del proceso o metodologia]</p>\n    <ol>\n        <li><strong>[Paso 1]:</strong> [Descripcion practica]</li>\n        <li><strong>[Paso 2]:</strong> [Descripcion practica]</li>\n        <li><strong>[Paso 3]:</strong> [Descripcion practica]</li>\n        <li><strong>[Paso 4]:</strong> [Descripcion practica]</li>\n    </ol>\n</section>\n\n<section id=\"tipos\">\n    <h2>[Tipos de ${p.name} para Diferentes Eventos]</h2>\n    <p>[Introduccion a las opciones disponibles]</p>\n    <h3>[Tipo/Opcion 1]</h3>\n    <p>[Descripcion - ideal para que tipo de evento]</p>\n    <h3>[Tipo/Opcion 2]</h3>\n    <p>[Descripcion - ideal para que tipo de evento]</p>\n    <h3>[Tipo/Opcion 3]</h3>\n    <p>[Descripcion - ideal para que tipo de evento]</p>\n</section>\n\n<div class=\"warning-box\">\n    <h4>Recomendacion Profesional</h4>\n    <p>[Consejo experto o advertencia importante basada en experiencia real]</p>\n</div>\n\n<section id=\"consejos\">\n    <h2>[Consejos de Expertos para ${p.name}]</h2>\n    <p>[Introduccion]</p>\n    <ul>\n        <li><strong>[Consejo 1]:</strong> [Explicacion practica]</li>\n        <li><strong>[Consejo 2]:</strong> [Explicacion practica]</li>\n        <li><strong>[Consejo 3]:</strong> [Explicacion practica]</li>\n        <li><strong>[Consejo 4]:</strong> [Explicacion practica]</li>\n    </ul>\n</section>\n\n<section id=\"errores\">\n    <h2>Errores que Debes Evitar con ${p.name}</h2>\n    <ul>\n        <li><strong>[Error 1]:</strong> [Por que es error y como evitarlo]</li>\n        <li><strong>[Error 2]:</strong> [Por que es error y como evitarlo]</li>\n        <li><strong>[Error 3]:</strong> [Por que es error y como evitarlo]</li>\n    </ul>\n</section>\n\n<div class=\"article-interlink\">\n    <h2>Complementa tu Evento con REDEIL</h2>\n    <p>Descubre como combinar ${p.name} con otros servicios para crear una experiencia completa:</p>\n    <div class=\"article-services__grid\">\n        <a href=\"${rs[0].url}\" class=\"article-services__item\">${rs[0].name}</a>\n        <a href=\"${rs[1].url}\" class=\"article-services__item\">${rs[1].name}</a>\n        <a href=\"${rs[2].url}\" class=\"article-services__item\">${rs[2].name}</a>\n    </div>\n</div>\n\n<section id=\"faq\" class=\"faq-section\">\n    <h2>Preguntas Frecuentes sobre ${p.name}</h2>\n    <div class=\"faq-item\">\n        <div class=\"faq-question\"><h3>[Pregunta 1 con keyword]</h3><span class=\"faq-icon\">+</span></div>\n        <div class=\"faq-answer\"><p>[Respuesta completa de 3-5 lineas]</p></div>\n    </div>\n    <div class=\"faq-item\">\n        <div class=\"faq-question\"><h3>[Pregunta 2]</h3><span class=\"faq-icon\">+</span></div>\n        <div class=\"faq-answer\"><p>[Respuesta completa]</p></div>\n    </div>\n    <div class=\"faq-item\">\n        <div class=\"faq-question\"><h3>[Pregunta 3]</h3><span class=\"faq-icon\">+</span></div>\n        <div class=\"faq-answer\"><p>[Respuesta completa]</p></div>\n    </div>\n    <div class=\"faq-item\">\n        <div class=\"faq-question\"><h3>[Pregunta 4]</h3><span class=\"faq-icon\">+</span></div>\n        <div class=\"faq-answer\"><p>[Respuesta completa]</p></div>\n    </div>\n    <div class=\"faq-item\">\n        <div class=\"faq-question\"><h3>[Pregunta 5]</h3><span class=\"faq-icon\">+</span></div>\n        <div class=\"faq-answer\"><p>[Respuesta completa]</p></div>\n    </div>\n</section>\n\n<section id=\"conclusion\">\n    <h2>[Titulo conclusion con variacion de keyword]</h2>\n    <p>[Resumen de puntos clave del articulo]</p>\n    <p>[Refuerzo del valor que REDEIL ofrece - mencionar experiencia de 500+ eventos]</p>\n    <p>Si estas planeando un evento en ${colonias[0]}, ${colonias[1]} o cualquier zona de CDMX y Estado de Mexico, contactanos al <strong>55 4937 5172</strong> o escribenos por WhatsApp para una asesoria sin compromiso.</p>\n</section>\n\n═══════════════════════════════════════════════════════════\nFORMATO DE RESPUESTA JSON\n═══════════════════════════════════════════════════════════\n\nResponde UNICAMENTE con este JSON (sin texto adicional):\n\n{\n    \"titulo\": \"[Titulo SEO max 60 caracteres con keyword al inicio]\",\n    \"slug\": \"[url-amigable-sin-acentos-max-50-chars]\",\n    \"metaDescription\": \"[150-160 caracteres con keyword y gancho emocional]\",\n    \"metaKeywords\": \"[keyword principal, secundaria 1, secundaria 2, LSI 1, LSI 2, REDEIL, CDMX]\",\n    \"breadcrumbText\": \"[15-25 caracteres]\",\n    \"categoria\": \"${p.categoryName}\",\n    \"tiempoLectura\": \"[X] min de lectura\",\n    \"contenidoHTML\": \"[HTML COMPLETO del articulo siguiendo la estructura exacta]\",\n    \"faqSchema\": [\n        {\"pregunta\": \"[Pregunta 1]\", \"respuesta\": \"[Respuesta 1]\"},\n        {\"pregunta\": \"[Pregunta 2]\", \"respuesta\": \"[Respuesta 2]\"},\n        {\"pregunta\": \"[Pregunta 3]\", \"respuesta\": \"[Respuesta 3]\"},\n        {\"pregunta\": \"[Pregunta 4]\", \"respuesta\": \"[Respuesta 4]\"},\n        {\"pregunta\": \"[Pregunta 5]\", \"respuesta\": \"[Respuesta 5]\"}\n    ],\n    \"tags\": [\"tag1\", \"tag2\", \"tag3\", \"tag4\", \"tag5\"]\n}\n\n═══════════════════════════════════════════════════════════\nCHECKLIST ANTES DE ENTREGAR\n═══════════════════════════════════════════════════════════\n\n- [ ] Titulo tiene keyword y < 60 caracteres\n- [ ] Meta description tiene 150-160 caracteres\n- [ ] Contenido tiene 1500+ palabras narrativas\n- [ ] Hay 8+ secciones H2 con IDs unicos\n- [ ] Incluye info-box y warning-box\n- [ ] Tiene 5 preguntas FAQ completas\n- [ ] Incluye 3 enlaces a servicios relacionados\n- [ ] Menciona zonas de CDMX/Edomex\n- [ ] Menciona WhatsApp 55 4937 5172 en conclusion\n- [ ] No hay frases genericas de IA\n- [ ] Tono es profesional pero cercano\n\nGenera el articulo ahora.`;\n\nreturn [{ json: { ...data, prompt } }];"
      },
      "id": "prompt",
      "name": "Constructor Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst body = {\n  model: 'gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: 'Eres un REDACTOR SENIOR especializado en SEO y contenido para el sector de eventos y produccion audiovisual en Mexico. Escribes para REDEIL, empresa de renta de iluminacion y audio en CDMX. REGLAS INVIOLABLES: 1) Escribe contenido ORIGINAL y util, nunca generico. 2) PROHIBIDO mencionar precios. 3) Cada parrafo debe tener 3-5 lineas con informacion valiosa. 4) Usa tono profesional pero cercano. 5) Menciona zonas de CDMX de forma natural. 6) Incluye EXACTAMENTE la estructura HTML solicitada. 7) SOLO responde con JSON valido sin markdown. 8) El contenidoHTML debe tener minimo 1500 palabras. 9) NUNCA uses frases como \"es importante destacar\", \"cabe mencionar\", \"sin duda alguna\".'\n    },\n    { role: 'user', content: d.prompt }\n  ],\n  temperature: 0.8,\n  max_tokens: 16000,\n  response_format: { type: 'json_object' }\n};\nreturn [{ json: { ...d, chatGPTBody: JSON.stringify(body) } }];"
      },
      "id": "preparar-chatgpt",
      "name": "Preparar Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer {{TU_OPENAI_API_KEY}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.chatGPTBody }}",
        "options": { "timeout": 180000 }
      },
      "id": "chatgpt",
      "name": "ChatGPT API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst data = $('Constructor Prompt').first().json;\nconst p = data.product;\nconst t = data.articleType;\nconst heroImage = data.heroImage;\nconst articleId = data.articleId;\nconst colonias = data.colonias;\n\n// Parsear respuesta de ChatGPT\nlet content;\ntry {\n  let raw = response.choices[0].message.content\n    .replace(/```json\\n?/gi, '')\n    .replace(/```\\n?/gi, '')\n    .trim();\n  content = JSON.parse(raw);\n} catch(e) {\n  throw new Error('Error parseando JSON: ' + e.message);\n}\n\n// Validar campos requeridos\nif (!content.titulo || content.titulo.length < 20) {\n  throw new Error('Titulo invalido o muy corto: ' + (content.titulo || 'VACIO'));\n}\nif (!content.contenidoHTML || content.contenidoHTML.length < 500) {\n  throw new Error('Contenido HTML invalido o muy corto');\n}\n\n// Aplicar valores por defecto\ncontent.metaDescription = content.metaDescription || `Descubre ${p.name} con REDEIL en CDMX. Guia profesional con consejos de expertos.`;\ncontent.metaKeywords = content.metaKeywords || p.keywords.join(', ');\ncontent.breadcrumbText = content.breadcrumbText || content.titulo.substring(0, 25);\ncontent.tiempoLectura = content.tiempoLectura || '10 min de lectura';\ncontent.faqSchema = content.faqSchema || [];\ncontent.tags = content.tags || p.keywords.slice(0, 5);\n\n// Generar slug SEO\nfunction generateSlug(text) {\n  if (!text || typeof text !== 'string') return null;\n  return text\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .substring(0, 55);\n}\n\nlet slug = content.slug ? generateSlug(content.slug) : generateSlug(content.titulo);\n\n// Asegurar que tenga palabras clave\nif (!slug.includes('iluminacion') && !slug.includes('audio') && !slug.includes('eventos') && !slug.includes('bodas') && !slug.includes('renta')) {\n  const keyword = p.keywords[0].split(' ')[0].toLowerCase();\n  slug = keyword + '-' + slug;\n}\n\n// Limitar longitud\nslug = slug.substring(0, 60);\n\nconsole.log('TITULO:', content.titulo);\nconsole.log('SLUG SEO:', slug);\n\n// Construir FAQ Schema\nconst faqSchemaJSON = JSON.stringify({\n  '@context': 'https://schema.org',\n  '@type': 'FAQPage',\n  'mainEntity': content.faqSchema.map(f => ({\n    '@type': 'Question',\n    'name': f.pregunta,\n    'acceptedAnswer': {\n      '@type': 'Answer',\n      'text': f.respuesta\n    }\n  }))\n});\n\nreturn [{\n  json: {\n    ...data,\n    content,\n    slug,\n    articleId,\n    heroImage,\n    faqSchemaJSON\n  }\n}];"
      },
      "id": "validar",
      "name": "Validar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/Origenlab/REDEIL/contents/blog/TEMPLATE-ARTICULO.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "token {{TU_GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        }
      },
      "id": "github-get-template",
      "name": "GitHub: Obtener Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Validar Respuesta').first().json;\nconst templateResp = $input.first().json;\nconst c = data.content;\nconst p = data.product;\nconst slug = data.slug;\nconst heroImage = data.heroImage;\nconst faqSchemaJSON = data.faqSchemaJSON;\n\n// Decodificar template\nlet template;\ntry {\n  template = Buffer.from(templateResp.content, 'base64').toString('utf8');\n} catch(e) {\n  throw new Error('Error decodificando template: ' + e.message);\n}\n\n// Reemplazar todas las variables\nlet html = template\n  .replace(/\\{\\{TITULO\\}\\}/g, c.titulo)\n  .replace(/\\{\\{SLUG\\}\\}/g, slug)\n  .replace(/\\{\\{META_DESCRIPTION\\}\\}/g, c.metaDescription)\n  .replace(/\\{\\{META_KEYWORDS\\}\\}/g, c.metaKeywords)\n  .replace(/\\{\\{CATEGORIA\\}\\}/g, c.categoria || p.categoryName)\n  .replace(/\\{\\{CATEGORIA_SLUG\\}\\}/g, p.category)\n  .replace(/\\{\\{IMAGEN_PRINCIPAL\\}\\}/g, heroImage)\n  .replace(/\\{\\{IMAGEN_ALT\\}\\}/g, c.titulo + ' - REDEIL CDMX')\n  .replace(/\\{\\{BREADCRUMB_TEXT\\}\\}/g, c.breadcrumbText)\n  .replace(/\\{\\{TIEMPO_LECTURA\\}\\}/g, c.tiempoLectura)\n  .replace(/\\{\\{CONTENIDO\\}\\}/g, c.contenidoHTML)\n  .replace(/\\{\\{FAQ_SCHEMA\\}\\}/g, faqSchemaJSON);\n\n// Convertir a Base64\nconst htmlBase64 = Buffer.from(html).toString('base64');\n\nreturn [{\n  json: {\n    ...data,\n    articleHtml: html,\n    articleHtmlBase64: htmlBase64,\n    slug\n  }\n}];"
      },
      "id": "construir-html",
      "name": "Construir HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst c = data.content;\nconst p = data.product;\nconst slug = data.slug;\nconst articleId = data.articleId;\nconst heroImage = data.heroImage;\n\n// Validacion critica\nif (!slug || slug.length < 5) {\n  throw new Error('Slug invalido: ' + slug);\n}\n\n// Construir entry para articulos.json\nconst articleEntry = {\n  id: slug,\n  slug: slug,\n  titulo: c.titulo,\n  descripcion: c.metaDescription,\n  imagen: heroImage,\n  imagenAlt: c.titulo + ' - REDEIL',\n  categoria: c.categoria || p.categoryName,\n  tags: c.tags || p.keywords.slice(0, 5),\n  autor: 'REDEIL Team',\n  fechaPublicacion: new Date().toISOString().split('T')[0],\n  url: 'articulos/' + slug + '.html',\n  lecturaMinutos: parseInt(c.tiempoLectura) || 10,\n  destacado: false,\n  status: 'published'\n};\n\nreturn [{\n  json: {\n    ...data,\n    articleEntry\n  }\n}];"
      },
      "id": "construir-card",
      "name": "Construir Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/Origenlab/REDEIL/contents/blog/articulos/{{ $json.slug }}.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "token {{TU_GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Add article: {{ $json.slug }}\",\n  \"content\": \"{{ $json.articleHtmlBase64 }}\",\n  \"branch\": \"main\"\n}"
      },
      "id": "github-upload-article",
      "name": "GitHub: Subir Articulo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1940, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/Origenlab/REDEIL/contents/blog/articulos.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "token {{TU_GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        }
      },
      "id": "github-get-articles",
      "name": "GitHub: Obtener JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Construir Card').first().json;\nconst articleEntry = data.articleEntry;\nconst slug = data.slug;\nconst gh = $input.first().json;\n\nif (!slug || slug.length < 5) {\n  throw new Error('Slug invalido antes de guardar: ' + slug);\n}\n\nif (!gh.content) throw new Error('articulos.json no encontrado');\n\n// Decodificar JSON actual\nlet articlesData;\ntry {\n  const content = Buffer.from(gh.content, 'base64').toString('utf8');\n  articlesData = JSON.parse(content);\n} catch(e) {\n  throw new Error('Error parseando articulos.json: ' + e.message);\n}\n\n// Validar estructura\nif (!Array.isArray(articlesData)) {\n  articlesData = [];\n}\n\n// Verificar duplicados\nconst exists = articlesData.some(a => a.slug === slug);\nif (exists) {\n  throw new Error('Articulo con slug \"' + slug + '\" ya existe');\n}\n\n// Agregar al inicio\narticlesData.unshift(articleEntry);\n\n// Convertir a Base64\nconst newJSON = JSON.stringify(articlesData, null, 2);\nconst newBase64 = Buffer.from(newJSON).toString('base64');\n\nreturn [{\n  json: {\n    slug,\n    newArticlesBase64: newBase64,\n    sha: gh.sha,\n    articleTitle: data.content.titulo,\n    articleEntry,\n    totalArticles: articlesData.length\n  }\n}];"
      },
      "id": "update-articles",
      "name": "Actualizar JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2380, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Origenlab/REDEIL/contents/blog/articulos.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "token {{TU_GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Add to articulos.json: {{ $json.slug }}\",\n  \"content\": \"{{ $json.newArticlesBase64 }}\",\n  \"sha\": \"{{ $json.sha }}\",\n  \"branch\": \"main\"\n}"
      },
      "id": "github-put-articles",
      "name": "GitHub: Guardar JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/Origenlab/REDEIL/contents/sitemap.xml",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "token {{TU_GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        }
      },
      "id": "github-get-sitemap",
      "name": "GitHub: Obtener Sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2820, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Actualizar JSON').first().json;\nconst slug = data.slug;\nconst articleTitle = data.articleTitle;\nconst totalArticles = data.totalArticles;\nconst gh = $input.first().json;\n\nif (!slug || slug.length < 5) {\n  throw new Error('Slug invalido en Sitemap: ' + slug);\n}\n\nif (!gh.content) throw new Error('sitemap.xml no encontrado');\n\nlet sitemap = Buffer.from(gh.content, 'base64').toString('utf8');\n\n// Verificar si ya existe\nif (sitemap.includes(slug + '.html')) {\n  return [{ json: { slug, articleTitle, totalArticles, sitemapUpdated: false, sha: gh.sha } }];\n}\n\n// Crear entrada\nconst today = new Date().toISOString().split('T')[0];\nconst newUrl = `  <url>\n    <loc>https://redeil.com/blog/articulos/${slug}.html</loc>\n    <lastmod>${today}</lastmod>\n    <changefreq>monthly</changefreq>\n    <priority>0.6</priority>\n  </url>`;\n\n// Insertar antes de </urlset>\nconst newSitemap = sitemap.replace('</urlset>', newUrl + '\\n</urlset>');\nconst newBase64 = Buffer.from(newSitemap).toString('base64');\n\nreturn [{\n  json: {\n    slug,\n    articleTitle,\n    totalArticles,\n    newSitemapBase64: newBase64,\n    sha: gh.sha,\n    sitemapUpdated: true\n  }\n}];"
      },
      "id": "update-sitemap",
      "name": "Actualizar Sitemap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3040, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Origenlab/REDEIL/contents/sitemap.xml",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "token {{TU_GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Add to sitemap: {{ $json.slug }}\",\n  \"content\": \"{{ $json.newSitemapBase64 }}\",\n  \"sha\": \"{{ $json.sha }}\",\n  \"branch\": \"main\"\n}",
        "options": {}
      },
      "id": "github-put-sitemap",
      "name": "GitHub: Guardar Sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3260, 300],
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "fin",
      "name": "Fin - Articulo Publicado",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3480, 300]
    }
  ],
  "connections": {
    "Trigger Programado": { "main": [[{ "node": "Selector Inteligente", "type": "main", "index": 0 }]] },
    "Trigger Manual": { "main": [[{ "node": "Selector Inteligente", "type": "main", "index": 0 }]] },
    "Selector Inteligente": { "main": [[{ "node": "Constructor Prompt", "type": "main", "index": 0 }]] },
    "Constructor Prompt": { "main": [[{ "node": "Preparar Request", "type": "main", "index": 0 }]] },
    "Preparar Request": { "main": [[{ "node": "ChatGPT API", "type": "main", "index": 0 }]] },
    "ChatGPT API": { "main": [[{ "node": "Validar Respuesta", "type": "main", "index": 0 }]] },
    "Validar Respuesta": { "main": [[{ "node": "GitHub: Obtener Template", "type": "main", "index": 0 }]] },
    "GitHub: Obtener Template": { "main": [[{ "node": "Construir HTML", "type": "main", "index": 0 }]] },
    "Construir HTML": { "main": [[{ "node": "Construir Card", "type": "main", "index": 0 }]] },
    "Construir Card": { "main": [[{ "node": "GitHub: Subir Articulo", "type": "main", "index": 0 }]] },
    "GitHub: Subir Articulo": { "main": [[{ "node": "GitHub: Obtener JSON", "type": "main", "index": 0 }]] },
    "GitHub: Obtener JSON": { "main": [[{ "node": "Actualizar JSON", "type": "main", "index": 0 }]] },
    "Actualizar JSON": { "main": [[{ "node": "GitHub: Guardar JSON", "type": "main", "index": 0 }]] },
    "GitHub: Guardar JSON": { "main": [[{ "node": "GitHub: Obtener Sitemap", "type": "main", "index": 0 }]] },
    "GitHub: Obtener Sitemap": { "main": [[{ "node": "Actualizar Sitemap", "type": "main", "index": 0 }]] },
    "Actualizar Sitemap": { "main": [[{ "node": "GitHub: Guardar Sitemap", "type": "main", "index": 0 }]] },
    "GitHub: Guardar Sitemap": { "main": [[{ "node": "Fin - Articulo Publicado", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
